.MatchPage{
    display: grid;
    grid-template-columns: 1fr 5fr;

    .year-selector{
        margin-top: 100px;
        margin-bottom: 30px;

        .text-select-year{
            margin-left: 45px;
        }
    }

    .teamName{
        margin-top: 100px;
        margin-bottom: 30px;
    }
}
